In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from keras.layers import LSTM,Dense
from keras.models import Sequential
from keras.utils import plot_model

In [ ]:
train  = pd.read_csv('/content/drive/MyDrive/Viral Tweets Prediction Challenge Dataset/Dataset/Tweets/train_tweets.csv')
test = pd.read_csv('/content/drive/MyDrive/Viral Tweets Prediction Challenge Dataset/Dataset/Tweets/test_tweets.csv')

In [ ]:
train.head()

   tweet_id  ...  virality
0     34698  ...         3
1     24644  ...         3
2     36321  ...         1
3      2629  ...         2
4     28169  ...         2

[5 rows x 14 columns]

In [ ]:
train.tweet_attachment_class.value_counts()

A    17511
C    11825
B      289
Name: tweet_attachment_class, dtype: int64

In [ ]:
test.tweet_attachment_class.value_counts()

A    7505
C    5076
B     116
Name: tweet_attachment_class, dtype: int64

In [ ]:
test.tweet_attachment_class.map({'A':1,'B':2,'C':3})

0        1
1        3
2        3
3        3
4        1
        ..
12692    3
12693    3
12694    3
12695    1
12696    1
Name: tweet_attachment_class, Length: 12697, dtype: int64

In [ ]:
train.pop('tweet_topic_ids')
train.pop('tweet_attachment_class')
y = train.pop('virality')

test.pop('tweet_topic_ids')
test.pop('tweet_attachment_class')

0        A
1        C
2        C
3        C
4        A
        ..
12692    C
12693    C
12694    C
12695    A
12696    A
Name: tweet_attachment_class, Length: 12697, dtype: object

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.3)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(20737, 11)
(8888, 11)
(20737,)
(8888,)

In [ ]:
clf = RandomForestClassifier()
clf.fit(X_train['tweet_user_id'].to_numpy().reshape(-1,1),y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
print(clf.score(X_train['tweet_user_id'].to_numpy().reshape(-1,1),y_train))
print(clf.score(X_test['tweet_user_id'].to_numpy().reshape(-1,1),y_test))

0.6431981482374499
0.6364761476147615

#Users Data

In [ ]:
users = pd.read_csv('/content/drive/MyDrive/Viral Tweets Prediction Challenge Dataset/Dataset/Users/users.csv')

In [ ]:
users.head()

   user_id  user_like_count  ...  user_created_at_year  user_created_at_month
0        0             1164  ...                  2010                      8
1        1             3914  ...                  2011                      9
2        2             8292  ...                  2011                      6
3        3             1770  ...                  2011                      8
4        4            15311  ...                  2011                      6

[5 rows x 11 columns]

In [ ]:
users.shape

(52, 11)

In [ ]:
users.describe()

         user_id  user_like_count  ...  user_created_at_year  user_created_at_month
count  52.000000        52.000000  ...             52.000000              52.000000
mean   27.211538      4673.865385  ...           2011.250000               7.307692
std    16.363921      5714.506714  ...              1.311712               3.316852
min     0.000000         0.000000  ...           2008.000000               1.000000
25%    13.750000      1236.000000  ...           2011.000000               5.750000
50%    26.500000      2669.000000  ...           2011.000000               8.000000
75%    41.250000      6363.750000  ...           2012.000000              10.000000
max    55.000000     33091.000000  ...           2014.000000              12.000000

[8 rows x 9 columns]

In [ ]:
users.isnull().sum().sum()

0

In [ ]:
users.dtypes

user_id                  int64
user_like_count          int64
user_followers_count     int64
user_following_count     int64
user_listed_on_count     int64
user_has_location         bool
user_tweet_count         int64
user_has_url              bool
user_verified            int64
user_created_at_year     int64
user_created_at_month    int64
dtype: object

In [ ]:
train.loc[0]

tweet_id                                                              34698
tweet_user_id                                                            10
tweet_created_at_year                                                  2015
tweet_created_at_month                                                   12
tweet_created_at_day                                                      5
tweet_created_at_hour                                                     3
tweet_hashtag_count                                                       2
tweet_url_count                                                           1
tweet_mention_count                                                       0
tweet_has_attachment                                                  False
tweet_attachment_class                                                    C
tweet_language_id                                                         0
tweet_topic_ids           ['36', '36', '36', '36', '36', '36', '37', '37...
virality                                                                  3
Name: 0, dtype: object

In [ ]:
train = pd.concat([train,pd.DataFrame(columns=users.columns)])

In [ ]:
test = pd.concat([test,pd.DataFrame(columns=users.columns)])

In [ ]:
train.loc[0,'user_id':'user_created_at_month'] = users[users.user_id==train.tweet_user_id[0]].iloc[0]

In [ ]:
for i in range(train.shape[0]):
  train.loc[i,'user_id':'user_created_at_month'] = users[users.user_id==train.tweet_user_id[i]].iloc[0]

In [ ]:
for i in range(test.shape[0]):
  test.loc[i,'user_id':'user_created_at_month'] = users[users.user_id==test.tweet_user_id[i]].iloc[0]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.3)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(20737, 22)
(8888, 22)
(20737,)
(8888,)

In [ ]:
clf = RandomForestClassifier()
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
print(clf.score(X_train,y_train))
print(clf.score(X_test,y_test))

1.0
0.6657290729072908

In [ ]:
clf2 = RandomForestClassifier(n_estimators=1200,max_depth=25, min_samples_leaf=1, min_samples_split=10)
clf2.fit(X_train,y_train)
print(clf2.score(X_train,y_train))
print(clf2.score(X_test,y_test))

0.8325698027679992
0.6750675067506751

In [ ]:
clf3 = RandomForestClassifier(n_estimators=1200,max_depth=25, min_samples_leaf=1, min_samples_split=10)
clf3.fit(train,y)
print(clf3.score(X_train,y_train))
print(clf3.score(X_test,y_test))

0.8364758643969716
0.8383213321332134

In [ ]:
sol4 = test.tweet_id.to_frame()
sol4['virality'] = clf3.predict(test)
sol4.astype(int).to_csv('sol8.csv',index=False)

In [ ]:
user_desc = pd.read_csv('/content/drive/MyDrive/Viral Tweets Prediction Challenge Dataset/Dataset/Users/user_vectorized_descriptions.csv')

In [ ]:
user_desc.head()

   user_id  feature_0  feature_1  ...  feature_765  feature_766  feature_767
0        0   0.132536  -0.137393  ...    -0.136515    -0.012882     0.017399
1        1   0.107849  -0.168418  ...    -0.143221     0.030484     0.081693
2        2   0.122312  -0.159376  ...    -0.091951     0.025304     0.058501
3        3   0.160509  -0.137915  ...    -0.180211     0.022327     0.014688
4        4   0.099192  -0.140809  ...    -0.200262    -0.074513     0.037301

[5 rows x 769 columns]

In [ ]:
user_desc.shape

(52, 769)

In [ ]:
user_img = pd.read_csv('/content/drive/MyDrive/Viral Tweets Prediction Challenge Dataset/Dataset/Users/user_vectorized_profile_images.csv')

In [ ]:
user_img.head()

   user_id  feature_0  feature_1  ...  feature_2045  feature_2046  feature_2047
0        0   0.449126   0.000000  ...      0.000000      0.192305      0.000009
1        1   0.017050   0.009737  ...      0.254945      0.536927      0.460923
2        2   0.000000   0.068666  ...      0.000000      0.150882      0.000000
3        3   0.000000   0.168951  ...      0.000000      0.424234      0.000000
4        4   0.286990   0.299091  ...      0.000000      0.059346      0.000000

[5 rows x 2049 columns]

In [ ]:
user_img.shape

(52, 2049)

#Tweet Text

In [ ]:
train_text = pd.read_csv('/content/drive/MyDrive/Viral Tweets Prediction Challenge Dataset/Dataset/Tweets/train_tweets_vectorized_text.csv')

In [ ]:
train_text.shape

(29625, 769)

In [ ]:
train_text.head()

   tweet_id  feature_0  feature_1  ...  feature_765  feature_766  feature_767
0         0   0.125605  -0.136067  ...    -0.100113     0.013015     0.053247
1         1   0.064982  -0.116850  ...    -0.109684     0.034304     0.018237
2         4   0.051160  -0.076732  ...    -0.180564    -0.061082     0.142650
3         5   0.127061  -0.063152  ...    -0.057773    -0.079182     0.057414
4         8   0.144889  -0.084671  ...    -0.058603    -0.023088     0.084837

[5 rows x 769 columns]

In [ ]:
train_text.virality.value_counts(normalize=1)*100

1    46.015190
2    30.005063
3    15.682700
5     4.465823
4     3.831224
Name: virality, dtype: float64

In [ ]:
train_text['virality']=0

In [ ]:
train.head()

In [ ]:
for i in range(train_text.shape[0]):
  train_text.loc[i,'virality'] = y[train.tweet_id==train_text.tweet_id[i]].iloc[0]

In [ ]:
Y_text = train_text.pop('virality')

In [ ]:
X_train_text, X_test_text, y_train_text, y_test_text = train_test_split(train_text, Y_text, test_size=0.3)
print(X_train_text.shape)
print(X_test_text.shape)
print(y_train_text.shape)
print(y_test_text.shape)

(20737, 769)
(8888, 769)
(20737,)
(8888,)

In [ ]:
clf5 = RandomForestClassifier()
clf5.fit(X_train_text,y_train_text)
print(clf5.score(X_train_text,y_train_text))
print(clf5.score(X_test_text,y_test_text))

1.0
0.5435418541854186

#LSTM

In [ ]:
X_train_array = X_train_text.to_numpy().reshape(X_train_text.shape[0],X_train_text.shape[1],1)
X_test_array = X_test_text.to_numpy().reshape(X_test_text.shape[0],X_test_text.shape[1],1)

In [ ]:
model = Sequential()
model.add(LSTM(100, input_shape=X_train_array.shape[1:]))
model.add(Dense(50,'relu'))
model.add(Dense(25,'relu'))
model.add(Dense(1,'sigmoid'))

In [ ]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
model.fit(X_train_array, y_train_text.to_numpy(), epochs = 10, verbose=2,batch_size=256)

Epoch 1/10
82/82 - 193s - loss: -4.8624e+01 - accuracy: 0.4571
Epoch 2/10
82/82 - 192s - loss: -4.7353e+02 - accuracy: 0.4571
Epoch 3/10
82/82 - 192s - loss: -1.8288e+03 - accuracy: 0.4571
Epoch 4/10
82/82 - 191s - loss: -4.7966e+03 - accuracy: 0.4571
Epoch 5/10
82/82 - 193s - loss: -1.0015e+04 - accuracy: 0.4571
Epoch 6/10
82/82 - 191s - loss: -1.7950e+04 - accuracy: 0.4571
Epoch 7/10
82/82 - 192s - loss: -2.9315e+04 - accuracy: 0.4571
Epoch 8/10
82/82 - 191s - loss: -4.4333e+04 - accuracy: 0.4571
Epoch 9/10
82/82 - 192s - loss: -6.3555e+04 - accuracy: 0.4571
Epoch 10/10
82/82 - 193s - loss: -8.7663e+04 - accuracy: 0.4571

In [ ]:
preds = model.evaluate(X_train_array, y_train_text)
print ("Loss = " + str(preds[0]))
print ("Train Accuracy = " + str(preds[1]))

preds = model.evaluate(X_test_array, y_test_text)
print ("Loss = " + str(preds[0]))
print ("Test Accuracy = " + str(preds[1]))

649/649 [==============================] - 98s 150ms/step - loss: -101714.5703 - accuracy: 0.4571
Loss = -101714.5703125
Train Accuracy = 0.4570574462413788
278/278 [==============================] - 46s 165ms/step - loss: -101645.1016 - accuracy: 0.4674
Loss = -101645.1015625
Test Accuracy = 0.46737173199653625